@{
    Layout = "_adminlayout";
    ViewData["Title"] = "lịch sử";
    ViewData["Active"] = "history";
    ViewData["PageHeader"] = "nhật ký hoạt động hệ thống";
}

<div class="card">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-light text-success">
                <tr>
                    <th>Thời gian</th>
                    <th>Id người dùng</th>
                    <th>Hành động</th>
                    <th>Địa điểm</th>
                </tr>
            </thead>
            <tbody class="small">
                <tr>
                    <td>20:45 - 18/03/2026</td>
                    <td>user_9921</td>
                    <td><span class="badge bg-primary-subtle text-primary">nghe audio</span></td>
                    <td>chuồng hổ</td>
                </tr>
                <tr>
                    <td>20:42 - 18/03/2026</td>
                    <td>user_1024</td>
                    <td><span class="badge bg-success-subtle text-success">quét qr</span></td>
                    <td>khu vườn lan</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>