# Visual Studio rác
.vs/
[Bb]in/
[Oo]bj/
out/

# Các file cấu hình cá nhân
*.user
*.userosscache
*.sln.docstates

# Thư viện tải về (không nên đẩy lên vì có thể tải lại bằng NuGet/NPM)
WebThaoCamVien/wwwroot/lib/
