# ========================
# VISUAL STUDIO / SYSTEM
# ========================
.vs/
*.user
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db
.idea/

# ========================
# BUILD FILES (QUAN TRỌNG)
# ========================
[Bb]in/
[Oo]bj/
out/
TestResults/

# ========================
# MAUI / ANDROID BUILD
# ========================
platforms/android/.gradle/
platforms/android/app/build/
platforms/android/build/

# ========================
# PACKAGE / LIB
# ========================
node_modules/
WebThaoCamVien/wwwroot/lib/

# ========================
# APP PACKAGING
# ========================
*.apk
*.aab
*.ipa
*.keystore
*.jks
*.pfx
*.publishsettings

# ========================
# LOG FILES
# ========================
*.log

# ========================
# ENV / CONFIG (TEAM)
# ========================
.env
.env.*
appsettings.Development.json
appsettings.*.json

# ========================
# MAUI / XAMARIN CACHE
# ========================
*.ap_
*.aot
*.dex
*.class
*.so
