USE [web]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/13/2026 2:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poi_category]    Script Date: 4/13/2026 2:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poi_category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
 CONSTRAINT [PK__poi_cate__D54EE9B48CAB2166] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poi_media]    Script Date: 4/13/2026 2:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poi_media](
	[media_id] [int] IDENTITY(1,1) NOT NULL,
	[poi_id] [int] NOT NULL,
	[MediaType] [nvarchar](max) NOT NULL,
	[media_url] [varchar](255) NOT NULL,
	[Language] [nvarchar](max) NULL,
 CONSTRAINT [PK__poi_medi__D0A840F456B70667] PRIMARY KEY CLUSTERED 
(
	[media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poi_translations]    Script Date: 4/13/2026 2:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poi_translations](
	[translation_id] [int] IDENTITY(1,1) NOT NULL,
	[poi_id] [int] NOT NULL,
	[language_code] [nvarchar](10) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_poi_translations] PRIMARY KEY CLUSTERED 
(
	[translation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poi_visit_history]    Script Date: 4/13/2026 2:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poi_visit_history](
	[VisitId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[PoiId] [int] NULL,
	[VisitTime] [datetime2](7) NULL,
	[ListenDuration] [int] NULL,
 CONSTRAINT [PK__poi_visi__375A75E1DEEE7CA0] PRIMARY KEY CLUSTERED 
(
	[VisitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PoiAudios]    Script Date: 4/13/2026 2:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoiAudios](
	[AudioId] [int] IDENTITY(1,1) NOT NULL,
	[PoiId] [int] NOT NULL,
	[LanguageCode] [nvarchar](10) NOT NULL,
	[FileName] [nvarchar](255) NULL,
	[FilePath] [nvarchar](500) NULL,
	[DurationSeconds] [real] NULL,
	[FileSizeBytes] [bigint] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PoiAudios] PRIMARY KEY CLUSTERED 
(
	[AudioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pois]    Script Date: 4/13/2026 2:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pois](
	[poi_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[latitude] [decimal](11, 8) NOT NULL,
	[longitude] [decimal](11, 8) NOT NULL,
	[radius] [int] NULL,
	[priority] [int] NULL,
	[image_thumbnail] [varchar](255) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__pois__6176E7AC68F9D4D2] PRIMARY KEY CLUSTERED 
(
	[poi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qr_codes]    Script Date: 4/13/2026 2:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qr_codes](
	[QrId] [int] IDENTITY(1,1) NOT NULL,
	[poi_id] [int] NOT NULL,
	[QrCodeData] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__qr_codes__6CD5101BE1633F49] PRIMARY KEY CLUSTERED 
(
	[QrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tour]    Script Date: 4/13/2026 2:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tour](
	[TourId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[EstimatedTime] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__tour__4B16B9E665B63F6D] PRIMARY KEY CLUSTERED 
(
	[TourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tour_poi]    Script Date: 4/13/2026 2:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tour_poi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TourId] [int] NULL,
	[PoiId] [int] NULL,
	[OrderIndex] [int] NULL,
 CONSTRAINT [PK__tour_poi__3213E83FE13266EB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_location_log]    Script Date: 4/13/2026 2:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_location_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[latitude] [decimal](11, 8) NULL,
	[longitude] [decimal](11, 8) NULL,
	[recorded_at] [datetime] NULL,
 CONSTRAINT [PK__user_loc__3213E83F20760A9F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/13/2026 2:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[DisplayName] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__users__B9BE370F89EDFDDA] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260318090410_InitialThaoCamVienStructure', N'10.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260319021535_SyncFromFriendCode', N'10.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260331044239_UpdateMoi', N'10.0.5')
GO
SET IDENTITY_INSERT [dbo].[poi_category] ON 

INSERT [dbo].[poi_category] ([category_id], [category_name], [description]) VALUES (1, N'Động vật', N'Khu vực nuôi dưỡng và bảo tồn các loài thú, chim, bò sát.')
INSERT [dbo].[poi_category] ([category_id], [category_name], [description]) VALUES (2, N'Thực vật', N'Các bộ sưu tập hoa, cây cảnh và hệ thống cây xanh cổ thụ.')
INSERT [dbo].[poi_category] ([category_id], [category_name], [description]) VALUES (3, N'Di tích', N'Các công trình kiến trúc, đền đài có giá trị lịch sử và văn hóa.')
SET IDENTITY_INSERT [dbo].[poi_category] OFF
GO
SET IDENTITY_INSERT [dbo].[poi_translations] ON 

INSERT [dbo].[poi_translations] ([translation_id], [poi_id], [language_code], [name], [description]) VALUES (15, 30, N'en', N'Cat', N'Cat love eating fish')
INSERT [dbo].[poi_translations] ([translation_id], [poi_id], [language_code], [name], [description]) VALUES (16, 30, N'zh', N'猫', N'猫喜欢吃鱼和晒太阳')
INSERT [dbo].[poi_translations] ([translation_id], [poi_id], [language_code], [name], [description]) VALUES (17, 30, N'ja', N'猫', N'猫は魚を食べて日向ぼっこするのが好きです')
SET IDENTITY_INSERT [dbo].[poi_translations] OFF
GO
SET IDENTITY_INSERT [dbo].[poi_visit_history] ON 

INSERT [dbo].[poi_visit_history] ([VisitId], [UserId], [PoiId], [VisitTime], [ListenDuration]) VALUES (4, 1, 1, CAST(N'2026-04-06T08:15:00.0000000' AS DateTime2), 45)
INSERT [dbo].[poi_visit_history] ([VisitId], [UserId], [PoiId], [VisitTime], [ListenDuration]) VALUES (5, 1, 2, CAST(N'2026-04-06T08:45:00.0000000' AS DateTime2), 120)
INSERT [dbo].[poi_visit_history] ([VisitId], [UserId], [PoiId], [VisitTime], [ListenDuration]) VALUES (6, 2, 2, CAST(N'2026-04-06T09:30:00.0000000' AS DateTime2), 300)
SET IDENTITY_INSERT [dbo].[poi_visit_history] OFF
GO
SET IDENTITY_INSERT [dbo].[PoiAudios] ON 

INSERT [dbo].[PoiAudios] ([AudioId], [PoiId], [LanguageCode], [FileName], [FilePath], [DurationSeconds], [FileSizeBytes], [CreatedAt], [UpdatedAt]) VALUES (1, 30, N'vi', N'test.mp3', N'/audio/pois/test.mp3', NULL, 1059386, CAST(N'2026-04-11T15:22:03.3316994' AS DateTime2), CAST(N'2026-04-11T15:51:43.6390848' AS DateTime2))
INSERT [dbo].[PoiAudios] ([AudioId], [PoiId], [LanguageCode], [FileName], [FilePath], [DurationSeconds], [FileSizeBytes], [CreatedAt], [UpdatedAt]) VALUES (2, 30, N'en', N'test-chuc-nang.mp3', N'/audio/pois/test-chuc-nang.mp3', NULL, 1729515, CAST(N'2026-04-11T15:23:06.7826022' AS DateTime2), CAST(N'2026-04-11T15:51:58.3577632' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PoiAudios] OFF
GO
SET IDENTITY_INSERT [dbo].[pois] ON 

INSERT [dbo].[pois] ([poi_id], [category_id], [name], [description], [latitude], [longitude], [radius], [priority], [image_thumbnail], [is_active], [created_at]) VALUES (1, 3, N'Bảo tàng', N'Đây là khu vực bảo tàng, nơi lưu giữ nhiều tư liệu và hiện vật quý giá, giúp du khách hiểu thêm về lịch sử và sự phát triển của khu vực này.', CAST(10.78738006 AS Decimal(11, 8)), CAST(106.70506044 AS Decimal(11, 8)), 30, 1, N'bao_tang_1.jpg', 1, CAST(N'2026-03-29T11:06:51.753' AS DateTime))
INSERT [dbo].[pois] ([poi_id], [category_id], [name], [description], [latitude], [longitude], [radius], [priority], [image_thumbnail], [is_active], [created_at]) VALUES (2, 3, N'Đền Hùng', N'Đây là Đền Hùng, một công trình mang ý nghĩa tâm linh, tưởng nhớ công lao dựng nước của các vua Hùng trong lịch sử dân tộc.', CAST(10.78732876 AS Decimal(11, 8)), CAST(106.70562481 AS Decimal(11, 8)), 30, 1, N'den_hung.jpg', 1, CAST(N'2026-03-29T11:06:51.753' AS DateTime))
INSERT [dbo].[pois] ([poi_id], [category_id], [name], [description], [latitude], [longitude], [radius], [priority], [image_thumbnail], [is_active], [created_at]) VALUES (3, 3, N'Di tích lịch sử Quán Nhan Hương', N'Đây là di tích Quán Nhan Hương, gắn liền với lịch sử hình thành và phát triển của khu vực, mang giá trị văn hóa và truyền thống đặc sắc.', CAST(10.78599401 AS Decimal(11, 8)), CAST(106.70751502 AS Decimal(11, 8)), 30, 1, N'quan_nhan_huong.jpg', 1, CAST(N'2026-03-29T11:06:51.753' AS DateTime))
SET IDENTITY_INSERT [dbo].[pois] OFF
GO
SET IDENTITY_INSERT [dbo].[tour] ON 

INSERT [dbo].[tour] ([TourId], [Name], [Description], [EstimatedTime], [CreatedAt], [IsActive]) VALUES (5, N'Tour lộn xộn', N'dgdfgd', 10, CAST(N'2026-04-06T16:08:52.1846395' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[tour] OFF
GO
SET IDENTITY_INSERT [dbo].[tour_poi] ON 

INSERT [dbo].[tour_poi] ([Id], [TourId], [PoiId], [OrderIndex]) VALUES (25, 5, 1, 1)
INSERT [dbo].[tour_poi] ([Id], [TourId], [PoiId], [OrderIndex]) VALUES (26, 5, 14, 2)
INSERT [dbo].[tour_poi] ([Id], [TourId], [PoiId], [OrderIndex]) VALUES (27, 5, 6, 3)
SET IDENTITY_INSERT [dbo].[tour_poi] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([UserId], [Email], [DisplayName], [CreatedAt], [Password]) VALUES (1, N'nguyenvana@gmail.com', N'Nguyễn Văn A', CAST(N'2026-04-01T12:00:00.0000000' AS DateTime2), N'hashed_pass_1')
INSERT [dbo].[users] ([UserId], [Email], [DisplayName], [CreatedAt], [Password]) VALUES (2, N'tranbibi@yahoo.com', N'Trần Thị B', CAST(N'2026-04-02T14:30:00.0000000' AS DateTime2), N'hashed_pass_2')
INSERT [dbo].[users] ([UserId], [Email], [DisplayName], [CreatedAt], [Password]) VALUES (3, N'anonymouse@outlook.com', N'Người dùng ẩn danh', CAST(N'2026-04-05T09:15:00.0000000' AS DateTime2), N'hashed_pass_3')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[pois] ADD  DEFAULT ((15)) FOR [radius]
GO
ALTER TABLE [dbo].[pois] ADD  DEFAULT ((1)) FOR [priority]
GO
ALTER TABLE [dbo].[pois] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tour] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[user_location_log] ADD  DEFAULT (getdate()) FOR [recorded_at]
GO
ALTER TABLE [dbo].[poi_media]  WITH CHECK ADD  CONSTRAINT [FK_media_poi] FOREIGN KEY([poi_id])
REFERENCES [dbo].[pois] ([poi_id])
GO
ALTER TABLE [dbo].[poi_media] CHECK CONSTRAINT [FK_media_poi]
GO
ALTER TABLE [dbo].[poi_translations]  WITH CHECK ADD  CONSTRAINT [FK_translations_poi] FOREIGN KEY([poi_id])
REFERENCES [dbo].[pois] ([poi_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[poi_translations] CHECK CONSTRAINT [FK_translations_poi]
GO
ALTER TABLE [dbo].[poi_visit_history]  WITH CHECK ADD  CONSTRAINT [FK_visit_poi] FOREIGN KEY([PoiId])
REFERENCES [dbo].[pois] ([poi_id])
GO
ALTER TABLE [dbo].[poi_visit_history] CHECK CONSTRAINT [FK_visit_poi]
GO
ALTER TABLE [dbo].[poi_visit_history]  WITH CHECK ADD  CONSTRAINT [FK_visit_user] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([UserId])
GO
ALTER TABLE [dbo].[poi_visit_history] CHECK CONSTRAINT [FK_visit_user]
GO
ALTER TABLE [dbo].[PoiAudios]  WITH CHECK ADD  CONSTRAINT [FK_PoiAudios_pois_PoiId] FOREIGN KEY([PoiId])
REFERENCES [dbo].[pois] ([poi_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PoiAudios] CHECK CONSTRAINT [FK_PoiAudios_pois_PoiId]
GO
ALTER TABLE [dbo].[pois]  WITH CHECK ADD  CONSTRAINT [FK_pois_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[poi_category] ([category_id])
GO
ALTER TABLE [dbo].[pois] CHECK CONSTRAINT [FK_pois_category]
GO
ALTER TABLE [dbo].[qr_codes]  WITH CHECK ADD  CONSTRAINT [FK_qr_poi] FOREIGN KEY([poi_id])
REFERENCES [dbo].[pois] ([poi_id])
GO
ALTER TABLE [dbo].[qr_codes] CHECK CONSTRAINT [FK_qr_poi]
GO
ALTER TABLE [dbo].[tour_poi]  WITH CHECK ADD  CONSTRAINT [FK_tourpoi_poi] FOREIGN KEY([PoiId])
REFERENCES [dbo].[pois] ([poi_id])
GO
ALTER TABLE [dbo].[tour_poi] CHECK CONSTRAINT [FK_tourpoi_poi]
GO
ALTER TABLE [dbo].[tour_poi]  WITH CHECK ADD  CONSTRAINT [FK_tourpoi_tour] FOREIGN KEY([TourId])
REFERENCES [dbo].[tour] ([TourId])
GO
ALTER TABLE [dbo].[tour_poi] CHECK CONSTRAINT [FK_tourpoi_tour]
GO
ALTER TABLE [dbo].[user_location_log]  WITH CHECK ADD  CONSTRAINT [FK_location_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([UserId])
GO
ALTER TABLE [dbo].[user_location_log] CHECK CONSTRAINT [FK_location_user]
GO
